.baground{
    background-color:grey;
   
    width: 30%;
    height: 90%;
    margin: auto;
    border-radius: 50px;
  }
  .profil{
border-radius: 50%;
left: 50%;
transform: translate(38%, -50%);


  }
  .kolom{
    width: 300px;
    height: 200px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -40%);}
    .bagroundPr{
      background-color: rgb(232, 236, 240);
    }